.contents-wrap{
    padding:120px 20px 20px 20px;
    height:auto;

}

.div-message{
    width:100%;
    padding:10px;
    text-align: center;
    background-color: #F0FFC2;
}

.contents-body{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-title{
    display: flex;
    justify-content: space-between;
    margin:20px;
}

.content-title > *{
    font-size: 30px;
    color:black;
    font-weight: 700;
}



.content-star{
    text-align: center;
    margin-bottom: 20px;
}

.content-star > img {
    width:150px;
    margin-bottom:20px;
}

.user-point{
    font-size: 35px;
    font-weight: 700;
    color: red;
}

.content-info{
    width:100%;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
}

.content-info__img{
    width:20%;
    text-align: center;
    font-size: 16px;
}
#img_plus{
    width:100%;
    border-radius: 5px;
    cursor: pointer;
}
#profile_img{
    font-size:12px;
}

.content-info__text{
    display:flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    width:80%;

}

.info-text__input-div{
    width: 80%;
    display:flex;
    justify-content: space-around;
}

.content-info__text input{
    width:60%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;


}


.info-text__comment{
    padding:10px;
    font-size: 16px;
    color:gray;
    width:70%;
    text-align: right;
}

.newPostButton{
    align-items: ;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:80px;
    height:30px;
    bottom :20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 1px solid black; 
    font-family: 'Nanum Pen Script', cursive;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}