{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block contents %}
<div class="index">
    
    <div class="intro">
        <h2 style="font-weight: 600;">Squrd 게시판입니다!</h3>
        <div>다양한 게시판을 방문하고 댓글을 남기며</div> 
        <div>다양한 사람과 소통해보세요!</div>
    </div>
    
    
    {% if user.is_authenticated %}
    <div class="userInfo">
        <span style="font-weight: 500;">{{ user.name }} 님 환영합니다.</span>
        <a href="{% url 'signout' %}">Log out</a>
    </div>
    

    <div class="cards">
        <div class="card" style="width: 30%;">
            <a href="{% url 'main' %}">
                <img src="../static/img/board1.png" class="card-img-top" alt="board1">
                <div class="card-body">
                    <p class="card-text">Notice</p>
                </div>
            </a>
        </div>
        <div class="card" style="width: 30%;">
            <a href="{% url 'main2' %}">
                <img src="../static/img/board2.png" class="card-img-top" alt="board2">
                <div class="card-body">
                    <p class="card-text">Feedback</p>
                </div>
            </a>
        </div>
        <div class="card" style="width: 30%;">
            <a href="{% url 'main3' %}">
                <img src="../static/img/board3.png" class="card-img-top" alt="board3">
                <div class="card-body">
                    <p class="card-text">All</p>
                </div>
            </a>
        </div>
        <div class="card" style="width: 30%;">
            <a href="{% url 'article' %}">
                <img src="../static/img/board3.png" class="card-img-top" alt="board3">
                <div class="card-body">
                    <p class="card-text">Entertain</p>
                </div>
            </a>
        </div>
        <div class="card" style="width: 30%;">
            <a href="{% url 'vote' %}">
                <img src="../static/img/board3.png" class="card-img-top" alt="board3">
                <div class="card-body">
                    <p class="card-text">Vote</p>
                </div>
            </a>
        </div>
        
    </div>

    {% else %}
    
    <div class="col text-center">
        <a href="{% url 'signin' %}" class="newBtn btn btn-primary" style>
          Log in
        </a>
    </div>

    {% endif %}

</div>
{% endblock %}
