{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<script type="text/JavaScript" src="{% static 'js/instagram.js' %}"></script>
<script>
    window.onload = () => {
      const list = document.querySelectorAll('.list');
      list.forEach((item) => 
      item.classList.remove('active'));
      list[4].classList.add('active');
    }
</script>
{% endblock %}

{% block contents %}
<div class="contents-wrap">
    {% if messages %}
        {% for message in messages  %}
            <div class="div-message">{{message}}</div>
        {% endfor %}
    {% endif %}
    <section class="contents-body">
        <div class="content-title">
            <span>mypage</span>
            <a href="{% url 'mail' %}"><ion-icon name="mail-open-outline"></ion-icon></a>
        </div>
        <div class="content-star">
            <img src="{% static 'img/star.png' %}" alt="">
            <div>{{user.name}} 님의 별포인트는 총 <span class="user-point">{{user.point}}</span> 입니다!</div>
        </div>
        <form class="content-info" action="{% url 'update_mypage' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="content-info__img">
                <label for="profile_img">
                    <img src="{{user.profile_img.url}}" id="img_plus" alt="X">
                    <div>프로필 사진</div>
                </label>
                <input id="profile_img" type="file" onchange="changeImg(event,'img_plus')" name="profile_img" />
            </div>
            
            
            <div class="content-info__text">
                <div class="info-text__input-div">
                    <span>Name : </span><input type="text" value="{{user.name}}" name="user_name">
                </div>
                <div class="info-text__input-div">
                    <span>Email : </span><input type="text" value="{{user.email}}" name="user_email">
                </div>
                <div class="info-text__comment">개인정보를 업데이트 해주세요!</div>
                <button class="newPostButton" type="submit"><span>Update<span></button>

            </div>
        </form>
    </section>
</div>

{% endblock %}
