.detail {
    margin-top:120px;
    width:90%;
    margin-left:5%;
    height:auto;
    background-color:white;
    overflow: auto;
}

.div-message{
    width:100%;
    padding:10px;
    text-align: center;
    background-color: #F0FFC2;
    font-size: 16px;
  }

.commentFormTag{
    padding-left:10px;
}
