.index{
    margin-top:60px;
    width:90%;
    margin-left:5%;
    /* background-color: aliceblue; */
    background-color: white;
    text-align: center;
    padding-top:100px;
    margin-bottom:100px
}

.intro{
    margin:20px;
}

.userInfo, .cards{
    margin-top:20px;
}


.card{
    display: inline-block;
    margin:10px 5px 10px 5px;
}

.card-text {
    transition: 1s;

}

.card-text:hover {
    transform: translateY(-70px);
}

.cards .card a{
    text-decoration: none;
    color:black;
}

.newBtn {
    width:30%;
    max-width: calc(480px*0.3);
    background-color: #87f3f7;;
    color: #0d6efd;
}