
  .ball {
    pointer-events: none;
    position: absolute; 
    width: 2px;
    height: 2px;
    border-radius: 50%; 
    background: gray;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
    opacity: .5;
  }
  
  @keyframes implode {
    100% {transform: scale(0)}
  }

div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:#87f3f7;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}
@keyframes clickEffect{
0%{
    opacity:1;
    width:0.5em; height:0.5em;
    margin:-0.25em;
    border-width:0.5em;
    }
100%{
    opacity:0.2;
    width:8em; height:8em;
    margin:-4.0em;
    border-width:0.03em;
    }
}