.article {
    margin-top:150px;
    width:90%;
    margin-left:5%;
    height:auto;
    background-color:white;
    overflow: auto;
}

.update{
    display:flex;
    justify-content: center;
    align-items: center;
}

.update a ion-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
}