.article {
    margin-top:140px;
    width:90%;
    margin-left:5%;
    height:auto;
    background-color:white;
    overflow: auto;
}

.line-news{
    text-decoration-line: none;
}

.update{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.update a{
    text-decoration-line: none;
    
}

.update a ion-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.card {
    margin-bottom:20px;
}