{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script type="text/JavaScript" src="{% static 'js/vote.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="vote-main">
    <h3>Vote</h3>
    <hr>

    {% for vote_post in vote_posts reversed %}

    <div clss="vote-wrap">
        <div class="vote-title">
            {{vote_post.title}}
        </div>
       

        <form action="#">
            <div class="vote-contents">
                <div class="vote-left" onclick="changeBorder(this)">
                    <label class="vote-card addAttrLabel" style="background-image: url( {{vote_post.imgfile_1.url}} );"></label>
                    <input type="radio" class="contactChoice addAttrInput" name="contact" value="First">
                    <label for="contactChoice1">{{vote_post.img_name_1}}</label>
                </div>
                <div class="vote-center">
                    <div>vs</div>
                </div>
                <div class="vote-right" onclick="changeBorder(this)"">
                    <label class="vote-card addAttrLabel" style="background-image: url( {{vote_post.imgfile_2.url}} );"></label>
                    <input type="radio" class="contactChoice addAttrInput" name="contact" value="Second">
                    <label for="contactChoice2">{{vote_post.img_name_2}}</label>
                </div>
            </div>
    
    
            <div class="vote-contents">
                <div class="vote-per-wrap">
                    <div class="vote-per left">
                        <span>55%</span>
                    </div>
                </div>
                <div class="vote-center">
                    <span class="vote-cnt">1304</span>
                    <span>명</span>    
                </div>
                <div class="vote-per-wrap">
                    <div class="vote-per right">
                        <span>45%</span>
                    </div>
                </div>
            </div>
            
            <div class="vote-contents">
                <a type="submit" class="button">투표하기</a>
            </div>
            
        </form>
        <a href="{% url 'delete_vote' vote_post.id %}">삭제</a>
        <a href="{% url 'view_comment' vote_post.id %}">댓글보기</a>
    </div>

    <hr>
    {% endfor %}
    


</div>
{% endblock %}

{% block contents2 %}

<button type="button" class="newBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  NEW VOTE
</button>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NEW VOTE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <form action="{% url 'create_vote' %}" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name='title'>
            </div>

            <div class="vote-contents">
                <div class="vote-left">
                    <div class="vote-card" id="background-img1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInputName1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInputName1" name='name1'>
                    </div>
                    <input style="font-size: 10px;" type="file" id="img1" name="img1" onchange="changeImg(event, 'background-img1')">

                </div>
                <div class="vote-center">
                    <div>vs</div>
                </div>
                <div class="vote-right">
                    <div class="vote-card" id="background-img2">
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInputName2" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInputName2" name='name2'>
                    </div>
                    <input style="font-size: 10px;" type="file" id="img2" name="img2" onchange="changeImg(event, 'background-img2')">
                </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
