{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/JavaScript" src="{% static 'js/vote.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="vote-main">
    <h3>Vote</h3>
    <hr>
    <div clss="vote-wrap">
        <div class="vote-title">
            투표 시작!!! 과연 승자는?! 투표는 오늘 자정까지 :)
        </div>
       

        <form action="#">
            <div class="vote-contents">
                <div class="vote-left" onclick="changeBorder()">
                    <label class="vote-card" id="label1" for="contactChoice1"></label>
                    <input type="radio" class="contactChoice" id="contactChoice1" name="contact" value="First">
                    <label for="contactChoice1">카리나</label>
                </div>
                <div class="vote-center">
                    <div>vs</div>
                </div>
                <div class="vote-right" onclick="changeBorder()"">
                    <label class="vote-card" id="label2" for="contactChoice2"></label>
                    <input type="radio" class="contactChoice" id="contactChoice2" name="contact" value="Second">
                    <label for="contactChoice2">윈터</label>
                </div>
            </div>
    
    
            <div class="vote-contents">
                <div class="vote-per-wrap">
                    <div class="vote-per left">
                        <span>55%</span>
                    </div>
                </div>
                <div class="vote-center">
                    <span class="vote-cnt">1304</span>
                    <span>명</span>    
                </div>
                <div class="vote-per-wrap">
                    <div class="vote-per right">
                        <span>45%</span>
                    </div>
                </div>
            </div>
    
            <div class="vote-contents">
                <a type="submit" class="button">투표하기</a>
            </div>
            
        </form>
        
    </div>
    
    <!-- 댓글 -->
    <div class="vote-comment">
        <!-- for -->
        <div class="input-group mb-3">
            <span class="btn btn-outline-secondary" id="button-addon1">writer</span>
            <span class="form-control" aria-label="Example text with button addon" aria-describedby="button-addon1">text body</span>

        </div>
        
        <!-- 답글 목록 -->
        <div class="overlap-comment">
            <ion-icon name="return-down-forward-outline"></ion-icon>
            <div class="input-group mb-3 ">
                <span class="btn btn-outline-secondary" id="button-addon1">writer</span>
                <span class="form-control" aria-label="Example text with button addon" aria-describedby="button-addon1">text body</span>
            </div>
        </div>

        <!-- 답글 달기-->
        <div class="overlap-comment">
            <ion-icon name="return-down-forward-outline"></ion-icon>
            <form class="write-comment overlap" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="body"autocomplete="off" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">답글 달기</button>
                </div>
            </form>
        </div>

        <!-- 댓글달기 -->
        <form class="write-comment" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" name="body"autocomplete="off" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">댓글 달기</button>
            </div>
        </form>
    </div>


</div>
{% endblock %}

{% block contents2 %}

<button type="button" class="newBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  NEW VOTE
</button>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NEW VOTE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <form action="{% url 'vote' %}" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name='title'>
            </div>

            <div class="vote-contents">
                <div class="vote-left">
                    <div class="vote-card" id="background-img1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInputName1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInputName1" name='name1'>
                    </div>
                    <input style="font-size: 10px;" type="file" id="img1" onchange="changeImg(event, 'background-img1')">

                </div>
                <div class="vote-center">
                    <div>vs</div>
                </div>
                <div class="vote-right">
                    <div class="vote-card" id="background-img2">
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInputName2" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInputName2" name='name2'>
                    </div>
                    <input style="font-size: 10px;" type="file" id="img2" onchange="changeImg(event, 'background-img2')">
                </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
