{% extends 'base.html' %}
{% load static %}
<!-- Header -->
{% block header %}
<title>board 1</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/board.css' %}">
<!-- js -->
<script>
  window.onload = () => {
    const list = document.querySelectorAll('.list');
    list.forEach((item) => 
    item.classList.remove('active'));
    list[1].classList.add('active');

  }



</script>
{% endblock %}

<!-- Body -->
{% block contents %}
<div class="contents">
  {% if messages %}
        {% for message in messages  %}
            <div class="div-message">{{message}}</div>
        {% endfor %}
  {% endif %}
  
  <div class="bordTitle">Notice</div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="row1" scope="col">Name</th>
          <th class="row2" scope="col">Title</th>
          <th class="row3">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {% if contents %}
          {% for content in contents %}
          <tr>
            <th class="row1" scope="row">{{content.writer}}</th>
            <td class="row2"><a href="{% url 'detail' content.id %}">{{content.title}}</a></td>
            <td class="row3">
              <a href="{% url 'delete' content.id %}" class="btn-close" aria-label="Close"></a>
            </td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

</div>


{% endblock %}



{% block contents2 %}

<button type="button" class="newBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  NEW POST
</button>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="overflow: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NEW POST</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name='title'>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" name='writer'>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Main text</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name='body'></textarea>
          </div>
          <!-- <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">password</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" name='password'>
          </div> -->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}

