.vote-main{
    margin-top:140px;
    width:90%;
    margin-left:5%;
    height:auto;
    background-color:white;
    overflow: auto;
}

.vote-wrap{
    display:flex;
    flex-direction:column;
    justify-content:last baseline;
    padding:0 20px 0 20px;
    margin:10px;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.1);
    border-radius:10px;
}

.vote-title{
    width:auto;
    height:auto;
    margin:20px 0 10px 0;
    padding-left:10px;
    border-left:3px solid black;
}

.vote-contents{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 10px 0 10px 0;
    
}

.vote-left, .vote-right{
    width:35%;
    text-align: center;
}

.vote-card{
    /* width:150px;
    height:150px; */
    width: 100%;
    position: relative;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.1);
    border-radius:10px;
    background-position: center;
    background-repeat: none;
}

.vote-card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* .vote-card ion-icon {
    font-size: 10px;

    position: absolute;
    width: 100%;
    height: 100%;
  } */

.vote-center{
    width:50px;
    margin:0 30px 0 30px;
    text-align: center;
}

.vote-center div{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.vote-name{
    display:flex;
    justify-content: center;
    align-items:center;
}

/* about radio input */

label.vote-card{
    position: relative;
    display: block;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    
}

label.vote-card:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    -webkit-animation: spinner 500ms infinite linear;
            animation: spinner 500ms infinite linear;
  }

@-webkit-keyframes spinner {
    from {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: rotateX(0) rotateY(-360deg);
    }
    to {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: rotateX(360deg) rotateY(-360deg);
    }
  }
  @keyframes spinner {
    from {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: rotateX(0) rotateY(-360deg);
    }
    to {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: rotateX(360deg) rotateY(-360deg);
    }
  }

/* 선택 됐을때 효과 */
.contactChoice{
    display:none;
  }
  
  


  /* end radio input */


.vote-per-wrap{
    width:35%;
    height: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.vote-per{
    height:20px;
    border-radius: 5px;
    background-color:#87f3f7;
    overflow: auto;
}

.vote-per span{
    line-height: 100%;
}

.left{
    width:55%;
    font-size: 14px;
    text-align:right;
    padding-right:10px;
    float:right;
}

.right{
    width:45%;
    font-size: 14px;
    text-align: left;
    padding-left:10px;

}

/* button */

.button{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .button:hover {
    color:#87f3f7;
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #87f3f7;
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 #87f3f7;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:active {
    top: 1px;
  }

  /* button end */



.newBtn {
    position:fixed;
    width:30%;
    max-width: calc(480px*0.3);
    transform: translateX(0);
    bottom:5%;

}

.commentTag{
  text-decoration-line: none;
  color:gray;
}