<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/signin.css">

    <!-- <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      window.Kakao.init("b88cbf4ee6bf965b90198fd0d4cadeff");

      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope:'profile, account_email, gender',
          success: function(authObj) {
            console.log(authObj);
            window.Kakao.API.request({
              user:'/v2/user/me',
              success: res => {
                const kakao_account = res.kakao_account;
                console.log(kakao_account)
              }
            });
          }
        });
      }
    </script> -->

</head>

 

  <body width="100%" height="100%">
    <form method="POST" class="loginForm">
      {% csrf_token %}
      <h2>Login</h2>
      <div class="idForm">
        <input type="text" class="id" name="input_id" placeholder="ID">
      </div>
      <div class="passForm">
        <input type="password" class="pw" name="input_pw" placeholder="PW">
      </div>
      <button type="submit" class="btn">
        LOG IN
      </button>
      <a href="{% url 'kakao-login' %}"><img style="margin-bottom:10px;" src="../static/img/kakao_login_medium_narrow.png" alt="없음"></a>
      <div class="bottomText">
        Don't you have ID? <a href="{% url 'signup' %}">Sign up</a>
      </div>
    </form>
  </body>

</html>