{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/sign.css' %}">

{% endblock %}


{% block contents %}
<div class="signwrqp">
  <form method="POST" class="loginForm">
    {% csrf_token %}
    <h2>Sign up</h2>
    <div class="idForm">
      <input type="text" class="id" name="input_name" placeholder="Name">
    </div>
    <div class="idForm">
      <input type="text" class="id" name="input_id" placeholder="Email@example.ex">
    </div>
    <div class="passForm">
      <input type="password" class="pw" name="input_pw" placeholder="password">
    </div>
    <div class="passForm">
      <input type="password" class="pw" name="input_pw_check" placeholder="password check">
    </div>
    <button type="submit" class="btn">
      SIGN UP
    </button>
  </form>
</div>


{% endblock %}
